.page-style{
  background-image: linear-gradient(to right top, #0e7350, #0b7a5a, #088065, #07876f, #078e7a, #139987, #1da494, #26afa2, #35c2b5, #44d4c9, #51e8dd, #5ffbf1);
}
.container {
  
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  align-items: center;
  
  
}
#collasible-nav-dropdown{
  color:white;
}
.jumbotron{
  /* background: url('https://specials-images.forbesimg.com/imageserve/1130795690/960x0.jpg?fit=scale');
  background-size: cover; */
  width: 100vw;
  height:100vh;
  color:white;
  margin-bottom: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-style{
  width:100vw;
}

.row-style {
display: flex;
flex-direction: row;
/* margin-bottom: 40px; */
overflow: scroll;
height:355px;
width: 100vw;
margin-left:5px;
margin:5px;
}
.film-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1117px;
  margin-bottom: 20px;
}
.board-style{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1117px;
  margin-bottom: 20px;
  background-color: #29dfca50;
  border-radius: 50px;
  padding:20px;
  border:1px solid white;
}
.title-style {
  align-items: flex-start !important ;
  color:white !important ;
  

}
.card{
  width:200px;
  transition: 0.5s ease-in;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  
}

.card:hover{
  transform: translate(-40%,10%) scale(1.15);
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  
  
  
}
.detail-style{
display: flex;
flex-direction: column;
overflow: scroll;
height:120px;
}
.pagination .page-link{
  background-color: #26afa1b7;
  color: white;
}
.pagination .page-item.disabled .page-link{
  background-color: #26afa1b7;
  color: white;
}
.pagination .page-item.active .page-link {
  background-color: #29dfc9;
  color: black;
  border: 1px solid white;
}

.rubber-slider{
  width:300px;
  color: rgba(255, 255, 255, 0.705);
}
.rubber-slider-input  .rubber-slider-handle {
  pointer-events: all;
  fill: #fff;
  stroke: #98ecd0;
}

