.page-style{
  background-image: linear-gradient(to right top, #0e7350, #0b7a5a, #088065, #07876f, #078e7a, #139987, #1da494, #26afa2, #35c2b5, #44d4c9, #51e8dd, #5ffbf1);
}
.container {
  
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  align-items: center;
  
  
}
#collasible-nav-dropdown{
  color:white;
}
.jumbotron{
  background: url('https://specials-images.forbesimg.com/imageserve/1130795690/960x0.jpg?fit=scale');
  background-size: cover;
  width: 100%;
  height:400px;
  color:white;
  margin-bottom: 0px !important;
}


.row-style {
display: flex;
flex-direction: row;
/* margin-bottom: 40px; */
overflow: scroll;
height:355px;
width: 1117px; 
 margin:5px;
}
.film-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title-style {
  align-items: flex-start !important ;
  color:white !important ;
  

}
.card{
  width:200px;
  transition: 0.5s ease-in;
  
}

.card:hover{
  transform: translate(-40%,10%) scale(1.15);
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  
  
  
}
.detail-style{
display: flex;
flex-direction: column;
overflow: scroll;
height:150px;
}

